.App {
  text-align: center;
  
}

.Layout {
   color: white;

}

.Switch { 
  color:black;

}

.AllCharactersPage {
  color: blue;
}

.NewCharactersPage {
  color: blue;
}

.MyCharactersPage {
  color: blue;
}
.LoginPage {
  color: blue;
}


